div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}


/* DATATABLES COSTUME */

.top {
    /* margin-left:3%; */
    /* width: 100%; */
    padding-top: 40px;
    padding-bottom: 70px;
}

.dataTable {
    margin-top: 50px;
}

.table.dataTable>thead .sorting,
table.dataTable>thead .sorting_asc {
    background-color: #F5F6FA;
}

.dt-buttons {
    text-align: right!important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 200%;
}

.btn-secondary {
    background-color: #fff;
    color: #131523;
    border: 1px solid #D7DBEC
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: #0058FF;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #0058FF;
    color: #fff;
}

.btn-approved:not(:disabled):not(.disabled).active {
    background-color: #C4E7CC;
    color: #000;
}

.btn-approved:hover {
    background-color: #C4E7CC;
    color: #000;
    border: 1px solid #D7DBEC
}

.btn-pending:not(:disabled):not(.disabled).active {
    background-color: #FFEEBB;
    color: #000;
}

.btn-pending:hover {
    background-color: #FFEEBB;
    color: #000;
}

.btn-lost:not(:disabled):not(.disabled).active {
    background-color: #F6C8CC;
    color: #000;
}

.btn-lost:hover {
    background-color: #F6C8CC;
    color: #000;
}

.bg-nav {
    background-color: #f4f6f9;
}

.box-none {
    box-shadow: none;
}

.treeview i {
    margin-right: .5rem;
}

.treeview {
    font-family: 'Poppins';
}

.logoImg {
    height: 22px;
    vertical-align: inherit;
}

.notValidated {
    background-color: #F6C8CC;
}

.validated {
    background-color: #C4E7CC;
}

.imgCar {
    max-width: 100px;
}

.gdprDiv {
    display: inline-grid;
}

.gdprLabel {
    margin-left: 20px;
}

.card-footer {
    background-color: inherit;
}

.disabledColor {
    background-color: #e9ecef;
}

@media only screen and (max-width: 414px) {
    div.dataTables_wrapper div.dataTables_length label {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .layout-fixed .main-sidebar {
        background-color: #fff;
    }
    .sidebar {
        overflow: inherit;
    }
    .main-sidebar {
        overflow-y: inherit;
    }
    .layout-fixed .brand-link {
        height: 56px;
    }
    .dropdown-toggle::after {
        margin-top: 6px;
    }
    .dropdown-menu-lg {
        min-width: 10rem;
    }
}

.menuDropActive {
    background-color: #007bff1f;
}