/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/_ide_helper.php
.phpunit.result.cache
.env
.env.backup
.phpunit.result.cache
fields_sample.json
storage/app/public/dummy.pdf
storage/app/public/finiclasse.png
storage/app/public/images/1.png
storage/app/public/images/2.png
storage/app/public/images/add1.png
storage/app/public/images/adicionarbotao.png
storage/app/public/images/angle-left-solid.svg
storage/app/public/images/cadeado.png
storage/app/public/images/Caminho6.svg
storage/app/public/images/campanhas-criar.png
storage/app/public/images/campanhas.png
storage/app/public/images/car-solid.svg
storage/app/public/images/car-solid1.svg
storage/app/public/images/check-circle-regular.png
storage/app/public/images/check-circle-regular.svg
storage/app/public/images/check-circle-solid.png
storage/app/public/images/chevron-right-solid.png
storage/app/public/images/cliente-criação-RGPD.png
storage/app/public/images/clientes-barra-de-pesquisa.png
storage/app/public/images/clientes-criar.png
storage/app/public/images/clientes-criação.png
storage/app/public/images/clientes-criação2.png
storage/app/public/images/clientes.png
storage/app/public/images/clientes1.png
storage/app/public/images/credit-card-solid.svg
storage/app/public/images/criar-beneficios.png
storage/app/public/images/criar-campanhas.png
storage/app/public/images/criar-vendedor.png
storage/app/public/images/dashboard-home.png
storage/app/public/images/data-management1.svg
storage/app/public/images/documento-viaturas.jpg
storage/app/public/images/documento-viaturas.png
storage/app/public/images/edit-regular.svg
storage/app/public/images/euro-sign-solid.svg
storage/app/public/images/eye-regular.svg
storage/app/public/images/eye-solid.svg
storage/app/public/images/file-contract-solid.svg
storage/app/public/images/financiamento-adicionar.png
storage/app/public/images/financiamentonew.png
storage/app/public/images/finiclasse.png
storage/app/public/images/grafico-de-crescimento.svg
storage/app/public/images/Grupo 17.svg
storage/app/public/images/Grupo 18.svg
storage/app/public/images/Grupo 19.svg
storage/app/public/images/Grupo 20.svg
storage/app/public/images/Grupo 21.svg
storage/app/public/images/Grupo 22.svg
storage/app/public/images/Grupo 23.svg
storage/app/public/images/Grupo 24.svg
storage/app/public/images/Grupo 26.png
storage/app/public/images/Grupo 27.png
storage/app/public/images/Grupo 28.png
storage/app/public/images/Grupo 29.png
storage/app/public/images/Grupo 30.png
storage/app/public/images/home-mobile.png
storage/app/public/images/home-solid.svg
storage/app/public/images/home.png
storage/app/public/images/list-ul-solid.svg
storage/app/public/images/Logo.svg
storage/app/public/images/Mobile-apoios-1.png
storage/app/public/images/Mobile-apoios-2.png
storage/app/public/images/Mobile-apoios-3-tabela.png
storage/app/public/images/Mobile-apoios-3.png
storage/app/public/images/Mobile-apoios-4-preencher.png
storage/app/public/images/Mobile-apoios-4-preencher1.png
storage/app/public/images/Mobile-campanha-apoios.png
storage/app/public/images/Mobile-campanhas-adicionar.png
storage/app/public/images/Mobile-campanhas1.png
storage/app/public/images/Mobile-campanhas2.png
storage/app/public/images/Mobile-campanhas3.png
storage/app/public/images/Mobile-campanhas4.png
storage/app/public/images/Mobile-cliente-1.png
storage/app/public/images/Mobile-financiamento-opçõesselecionadas.png
storage/app/public/images/Mobile-financiamento-PDF.png
storage/app/public/images/Mobile-financiamento-selecionar.png
storage/app/public/images/Mobile-financiamento.png
storage/app/public/images/Mobile-proposta-1.png
storage/app/public/images/Mobile-proposta-2.png
storage/app/public/images/Mobile-proposta-3.png
storage/app/public/images/Mobile-proposta-4-estudodemercado.png
storage/app/public/images/Mobile-proposta-adicionar-pesquisar.png
storage/app/public/images/Mobile-proposta-adicionar.png
storage/app/public/images/Mobile-proposta-cliente-1.png
storage/app/public/images/Mobile-proposta-cliente-2.png
storage/app/public/images/Mobile-proposta-cliente-3.png
storage/app/public/images/Mobile-proposta-cliente-adicionarnovo.png
storage/app/public/images/mobile-proposta-estados1.png
storage/app/public/images/mobile-proposta-estados2.png
storage/app/public/images/mobile-proposta-estados3.png
storage/app/public/images/Mobile-proposta-guardar.png
storage/app/public/images/Mobile-proposta-partilharbotão.png
storage/app/public/images/Mobile-proposta-viatura-editarpos.png
storage/app/public/images/Mobile-proposta-viatura.png
storage/app/public/images/Mobile-proposta-viatura2.png
storage/app/public/images/Mobile-proposta-viatura3.png
storage/app/public/images/Mobile-proposta-viatura4.png
storage/app/public/images/Mobile-proposta-viatura5-adicionarpos-escolherficheiro.png
storage/app/public/images/Mobile-proposta-viatura5-adicionarpos.png
storage/app/public/images/Mobile-proposta-viatura5-adicionarpos2.png
storage/app/public/images/Mobile-proposta-viatura5-adicionarpos3.png
storage/app/public/images/Mobile-proposta-viatura5.png
storage/app/public/images/Mobile-proposta-viaturas.png
storage/app/public/images/Mobile-proposta.png
storage/app/public/images/Mobile-relatorios.png
storage/app/public/images/Mobile-retoma-adicionarfotos.png
storage/app/public/images/Mobile-retoma-comprador.png
storage/app/public/images/Mobile-retoma-não.png
storage/app/public/images/Mobile-retoma-semcomprador.png
storage/app/public/images/Mobile-retoma-sim-preencher.png
storage/app/public/images/Mobile-retoma-sim-preencher2.png
storage/app/public/images/Mobile-retoma-sim.png
storage/app/public/images/Mobile-retoma-validar.png
storage/app/public/images/Mobile-retoma.png
storage/app/public/images/Mobile-RGPD-NãoValidado.png
storage/app/public/images/Mobile-RGPD-Validação.png
storage/app/public/images/mobile-vendas-proposta-de-vendas.png
storage/app/public/images/mobile-vendas.png
storage/app/public/images/Mobile-viaturas-consulta.png
storage/app/public/images/Mobile-viaturas.png
storage/app/public/images/noPhoto.jpg
storage/app/public/images/notificação.png
storage/app/public/images/percent-solid.svg
storage/app/public/images/plus-circle-solid.svg
storage/app/public/images/plus-square-solid.svg
storage/app/public/images/print-dashboard.svg
storage/app/public/images/print-financiamento-mobile.png
storage/app/public/images/print-financiamento.png
storage/app/public/images/proposta.png
storage/app/public/images/prpostanew.png
storage/app/public/images/question-circle-solid.png
storage/app/public/images/relatorios.png
storage/app/public/images/relatorios1.png
storage/app/public/images/trash-alt-regular.svg
storage/app/public/images/user-tie-solid.svg
storage/app/public/images/user.png
storage/app/public/images/users-solid.svg
storage/app/public/images/users-solid1.svg
storage/app/public/images/vendas.png
storage/app/public/images/vendas1.png
storage/app/public/images/vendedores.png
storage/app/public/images/verde.png
storage/app/public/images/vermelho.png
storage/app/public/images/viatuaras-adicionar1.png
storage/app/public/images/viatuaras-adicionar2.png
storage/app/public/images/viatuaras-adicionar3.png
storage/app/public/images/viatuaras-adicionar4.png
storage/app/public/images/viaturas.png
storage/app/public/images/viaturas1.png
storage/app/public/images/viaturas2.png
storage/app/public/logo.png
storage/app/public/media.zip
storage/app/public/media/137/conversions/Image20210408194224-thumb.jpg
storage/app/public/media/137/Image20210408194224.png
storage/app/public/media/206/15.09.2021_10.17.12_REC.png
storage/app/public/media/206/conversions/15.09.2021_10.17.12_REC-thumb.jpg
storage/app/public/media/207/15.09.2021_10.17.32_REC.png
storage/app/public/media/207/conversions/15.09.2021_10.17.32_REC-thumb.jpg
storage/app/public/media/239/med2F7C.tmp
storage/app/public/media/240/medB558.tmp
storage/app/public/media/241/Cake-Mapping-Video-Content-Guide.pdf
storage/app/public/media/242/media-librarySBrQ7b
storage/app/public/media/242/user.png
storage/app/public/media/243/Cake-Mapping-Video-Content-Guide.pdf
storage/app/public/media/244/Cake-Mapping-Video-Content-Guide.pdf
storage/app/public/media/245/Cake-Mapping-Video-Content-Guide.pdf
storage/app/public/media/246/Cake-Mapping-Video-Content-Guide.pdf
storage/app/public/media/248/conversions/Image20210408194224-thumb.jpg
storage/app/public/media/248/Image20210408194224.png
storage/app/public/media/255/conversions/testeImage-thumb.jpg
storage/app/public/media/255/testeImage.jpg
storage/app/public/media/264/15.09.2021_10.35.28_REC.png
storage/app/public/media/264/conversions/15.09.2021_10.35.28_REC-thumb.jpg
storage/app/public/media/265/15.09.2021_10.33.18_REC.png
storage/app/public/media/265/conversions/15.09.2021_10.33.18_REC-thumb.jpg
storage/app/public/media/266/15.09.2021_10.33.39_REC.png
storage/app/public/media/266/conversions/15.09.2021_10.33.39_REC-thumb.jpg
storage/app/public/media/267/15.09.2021_10.34.02_REC.png
storage/app/public/media/267/conversions/15.09.2021_10.34.02_REC-thumb.jpg
storage/app/public/media/268/15.09.2021_10.28.42_REC.png
storage/app/public/media/268/conversions/15.09.2021_10.28.42_REC-thumb.jpg
storage/app/public/media/269/15.09.2021_10.28.57_REC.png
storage/app/public/media/269/conversions/15.09.2021_10.28.57_REC-thumb.jpg
storage/app/public/media/270/15.09.2021_10.29.18_REC.png
storage/app/public/media/270/conversions/15.09.2021_10.29.18_REC-thumb.jpg
storage/app/public/media/271/15.09.2021_10.21.29_REC.png
storage/app/public/media/271/conversions/15.09.2021_10.21.29_REC-thumb.jpg
storage/app/public/media/271/conversions/testeImage3-thumb.jpg
storage/app/public/media/271/testeImage3.png
storage/app/public/media/272/15.09.2021_10.21.46_REC.png
storage/app/public/media/272/conversions/15.09.2021_10.21.46_REC-thumb.jpg
storage/app/public/media/272/conversions/testeImage2-thumb.jpg
storage/app/public/media/272/testeImage2.png
storage/app/public/media/273/15.09.2021_10.22.07_REC.png
storage/app/public/media/273/conversions/15.09.2021_10.22.07_REC-thumb.jpg
storage/app/public/media/273/conversions/testeImage1-thumb.jpg
storage/app/public/media/273/testeImage1.jpg
storage/app/public/media/274/15.09.2021_10.22.53_REC.png
storage/app/public/media/274/conversions/15.09.2021_10.22.53_REC-thumb.jpg
storage/app/public/media/275/15.09.2021_10.19.07_REC.png
storage/app/public/media/275/conversions/15.09.2021_10.19.07_REC-thumb.jpg
storage/app/public/media/276/15.09.2021_10.19.29_REC.png
storage/app/public/media/276/conversions/15.09.2021_10.19.29_REC-thumb.jpg
storage/app/public/media/277/15.09.2021_10.20.00_REC.png
storage/app/public/media/277/conversions/15.09.2021_10.20.00_REC-thumb.jpg
storage/app/public/media/278/15.09.2021_10.20.26_REC.png
storage/app/public/media/278/conversions/15.09.2021_10.20.26_REC-thumb.jpg
storage/app/public/media/279/15.09.2021_10.23.48_REC.png
storage/app/public/media/279/conversions/15.09.2021_10.23.48_REC-thumb.jpg
storage/app/public/media/280/15.09.2021_10.24.08_REC.png
storage/app/public/media/280/conversions/15.09.2021_10.24.08_REC-thumb.jpg
storage/app/public/media/281/15.09.2021_10.24.26_REC.png
storage/app/public/media/281/conversions/15.09.2021_10.24.26_REC-thumb.jpg
storage/app/public/media/282/15.09.2021_10.24.50_REC.png
storage/app/public/media/282/conversions/15.09.2021_10.24.50_REC-thumb.jpg
storage/app/public/media/283/15.09.2021_10.25.44_REC.png
storage/app/public/media/283/conversions/15.09.2021_10.25.44_REC-thumb.jpg
storage/app/public/media/284/15.09.2021_10.26.01_REC.png
storage/app/public/media/284/conversions/15.09.2021_10.26.01_REC-thumb.jpg
storage/app/public/media/285/15.09.2021_10.26.24_REC.png
storage/app/public/media/285/conversions/15.09.2021_10.26.24_REC-thumb.jpg
storage/app/public/media/286/15.09.2021_10.26.49_REC.png
storage/app/public/media/286/conversions/15.09.2021_10.26.49_REC-thumb.jpg
storage/app/public/media/287/15.09.2021_10.16.24_REC.png
storage/app/public/media/287/conversions/15.09.2021_10.16.24_REC-thumb.jpg
storage/app/public/media/288/15.09.2021_10.16.49_REC.png
storage/app/public/media/288/conversions/15.09.2021_10.16.49_REC-thumb.jpg
storage/app/public/media/289/15.09.2021_10.17.12_REC.png
storage/app/public/media/289/conversions/15.09.2021_10.17.12_REC-thumb.jpg
storage/app/public/media/290/15.09.2021_10.17.32_REC.png
storage/app/public/media/290/conversions/15.09.2021_10.17.32_REC-thumb.jpg
storage/app/public/media/292/bando_1.png
storage/app/public/media/292/conversions/bando_1-thumb.jpg
storage/app/public/media/295/conversions/Image20211110182653-thumb.jpg
storage/app/public/media/295/Image20211110182653.jpg
storage/app/public/media/296/conversions/Image20211110182653-thumb.jpg
storage/app/public/media/296/Image20211110182653.jpg
storage/app/public/media/299/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/299/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/305/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/305/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/306/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/306/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/307/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/307/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/313/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/313/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/316/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/316/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/318/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/318/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/319/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/319/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/320/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/320/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/321/conversions/Seat-Ibiza_2012_Sedans_15111615741_6-thumb.jpg
storage/app/public/media/321/Seat-Ibiza_2012_Sedans_15111615741_6.jpg
storage/app/public/media/322/conversions/Image20211110182653-thumb.jpg
storage/app/public/media/322/Image20211110182653.jpg
storage/app/public/media/323/conversions/Image20211110182653-thumb.jpg
storage/app/public/media/323/Image20211110182653.jpg
storage/app/public/media/324/conversions/Image20211110182653-thumb.jpg
storage/app/public/media/324/Image20211110182653.jpg
storage/app/public/media/325/conversions/Image20211110182653-thumb.jpg
storage/app/public/media/325/Image20211110182653.jpg
storage/app/public/media/326/conversions/Image20211110182653-thumb.jpg
storage/app/public/media/326/Image20211110182653.jpg
storage/app/public/media/79/conversions/Image20210408194224-thumb.jpg
storage/app/public/media/79/Image20210408194224.png
storage/app/public/media/80/conversions/Image20210408194231-thumb.jpg
storage/app/public/media/80/Image20210408194231.png
storage/app/public/media/81/conversions/Image20210408194236-thumb.jpg
storage/app/public/media/81/Image20210408194236.png
storage/app/public/media/85/conversions/Image20210408194224-thumb.jpg
storage/app/public/media/85/Image20210408194224.png
storage/app/public/media/86/conversions/Image20210408194231-thumb.jpg
storage/app/public/media/86/Image20210408194231.png
storage/app/public/media/87/conversions/Image20210408194236-thumb.jpg
storage/app/public/media/87/Image20210408194236.png
storage/app/public/media/88/61098aa7dd1b5893277232.jpg
storage/app/public/media/88/conversions/61098aa7dd1b5893277232-thumb.jpg
storage/app/public/media/89/conversions/Image20210408194224-thumb.jpg
storage/app/public/media/89/Image20210408194224.png
storage/app/public/media/90/conversions/Image20210408194231-thumb.jpg
storage/app/public/media/90/Image20210408194231.png
storage/app/public/media/91/conversions/Image20210408194236-thumb.jpg
storage/app/public/media/91/Image20210408194236.png
storage/app/public/sample.pdf
storage/app/public/dummy.pdf
